name: deploy astro with pnpm

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8
      
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          cache: 'pnpm'
      
      - name: install dependencies
        run: pnpm install --frozen-lockfile
      
      - name: build
        run: pnpm run build
      
      - name: disable jekyll
        run: touch ./dist/.nojekyll
      
      - name: deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.github_token }}
          publish_dir: ./dist

